<%- include("header"); -%>
<article>
  <img src="<%=works.imageURL%>"<%=works.imageURL%>">
  <h3><%=works.title%></h3>
  <h4 class="credit"><%=works.credit%></h4>
  <p class="location"><%=works.location%></p>
  <p class="date"><%=works.date%></p>
  <p><%=works.description%></p>

</article>
<%- include("footer"); -%>
