<article class="element-item <%=works.class%>">
  <div class="worksItem">
    <img src="<%=works.imageURL%>" alt="<%=works.imageURL%>">
    <h3><%=works.title%></h3>
    <h4><%=works.credit%></h4>
    <a class="viewdetail" href="/work/<%=index%>">View details</a>
  </div>
</article>
